//- template of single article

article(class='article')&attributes({'id': 'article-' + article.article_id})
  header(class='article-header')
    h2(class='article-title')
      a(href='#')= article.article_title
    div(class='article-meta entry-meta')
      span(class='glyphicon glyphicon-user article-author')
        a= article.user_name
      span(class='article-created-on') 创建于
        a
          time(class='created')&attributes({'datetime': article.article_date_created})= format(article.article_date_created)
      span(class='article-updated-on') 更新于 
        a
          time(class='updated')&attributes({'datetime': article.article_date_modified})= format(article.article_date_modified)

  div(class='article-content')
    != article.article_content
  div(class='article-permalink')
    a(href='#', class='btn btn-default') 阅读全文
  footer(class='article-footer entry-meta')
    span(class='cat-links')
      span(class='glyphicon glyphicon-folder-open')
        a(href='#')= article.category_name
    span(class='tag-links')
      span(class='glyphicon glyphicon-tags')
        a= article.tags
    span(class='glyphicon glyphicon-edit')
      a(href='#edit', class='edit-link') 编辑
    span(class='glyphicon glyphicon-trash', aria-hidden='true')
      a(href='#delete', class='del-link') 删除