//- entry page of home

extends layout

block links
  link(rel='stylesheet', href='/stylesheets/highlights/monokai_sublime.css')
  link(rel='stylesheet', href='/stylesheets/home.css')
block content
  include ./home.jade
block scripts
  script(data-main='/javascripts/main', src='/javascripts/lib/require.js')