//- category list
aside(class='widget widget-category')
  h3(class='widget-title') 分类
  ul(id='widget-cat-list')

//- date list
aside(class='widget widget-archive')
  h3(class='widget-title') 存档页
  ul(id='widget-archive-list')

//- tag list
aside(class='widget widget-tag')
  h3(class='widget-title') 标签
  div(id='widget-tag-list')

//- additional links
aside(class='widget widget-links')
  h3(class='widget-title') 链接
  ul(id='link-list')
    li
      a(class='extra-link') Email: swordarchor@gmail.com
    li
      a(class='extra-link', href='https://github.com/HachiJiang') GitHub: https://github.com/HachiJiang

//- visit statistics
aside(class='widget widget-stats')
  h3(class='widget-title') 博客统计