body {
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
}

.navbar {
    margin-bottom: 0;
}

.site-header {
    background: #bed4df;
    text-align: center;
}

.site-header h1 {
    color: rgba(255, 255, 255, 0.9);
    /*font-size: 7.0rem;*/
    font-weight: 900;
    line-height: 1em;
    margin: 0;
}

.site-header h4 {
    color: #789;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    margin-top: 0.9em;
}

.site-top,
.site-footer {
    text-align: center;
    background: #323e4e;
}

.site-footer {
    margin: 0;
    padding-top: 1.2em;
    padding-bottom: 1em;
    line-height: 1em;
}

.site-content {
    padding: 50px 0;
}

.site-content .content-area {
    padding: 0 15px;
}

.site-content .content-area .content-pagination {
    text-align: center;
}

.article-header {
    margin: 0 0 20px;
}

.article-title {
    font-weight: 700;
    font-height: 1.3;
    word-wrap: break-word;
}

.article-meta {
    color: #426f86;
    font-family: Raleway, Aral, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin-top: 1em;
}

.article-content {
    margin-bottom: 30px;
}

#sidebar .widget {
    background: #f7f7f7;
    padding: 20px 30px;
    line-height: 1.6em;
    margin: 0 0 1.5em;
    word-wrap: break-word;
}

.widget-title {
    border-bottom: 5px solid #dfdfdf;
    font-size: 1.2em;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0 0 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/**** Element: a ****/
a {
    color: #426f86;
    text-decoration: none;
}

#site-navigation .navbar-header a {
    color: rgba(255, 255, 255, 0.9);
}

#site-navbar a,
.site-footer {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #3F4C5D;
}
.navbar-default .navbar-nav > .active > a {
    background-color: #3F4C5D;
}

.article-title a {
    color: #323e4e;
}