body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar {
    margin-bottom: 0;
}

.site-header {
    background: #bed4df;
    /*background-color: #ff7900;*/
    text-align: center;
}

.site-header h1 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 900;
    line-height: 1em;
    margin: 0;
}

.site-header h4 {
    color: #789;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.8;
    margin-top: 0.9em;
}

.site-top,
.site-footer {
    text-align: center;
    background: #323e4e;
}

.site-footer {
    margin: 0;
    padding-top: 1.2em;
    padding-bottom: 1em;
    line-height: 1em;
}

.site-content {
    padding: 50px 0;
}
.article .article-content,
.article .article-content .h1,
.article .article-content .h2,
.article .article-content .h3,
.article .article-content .h4,
.article .article-content .h5,
.article .article-content .h6,
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6,
#secondary .widget {
    font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    font-size: 1.1em;
    line-height: 1.7em;
}

.site-content .content-area {
    padding: 0 15px;
}

.site-content .content-area #content-pagination {
    text-align: center;
}

#secondary {
    clear: right;
}

.widget-area .widget {
    background: #f7f7f7;
    padding: 21px 30px;
    line-height: 1.6em;
    margin: 0 0 35px;
    word-wrap: break-word;
}
.widget-title {
    border-bottom: 5px solid #dfdfdf;
    font-size: 1.2em;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0 0 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.widget ul {
    padding-left: 0;
    color: #959595;
}
.widget ul li {
    margin-left: 0;
    padding: 5px 0;
    list-style: none;
}
#widget-tag-list a {
    line-height: 1.5em;
    display: inline-block;
    margin: 0 5px 5px 0;
}

#widget-cat-list span:before {
    margin-right: 10px;
}

#login-username {
    margin-bottom: 5px;
}

#login .modal-header,
#login .modal-body,
#login .modal-footer {
    padding-top: 5px;
    padding-bottom: 5px;
}


/* h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 10px;
} */

/**** Element: a ****/

a {
    color: #426f86;
    text-decoration: none;
}

#site-navigation .navbar-header a {
    color: rgba(255, 255, 255, 0.9);
}

#site-navbar a,
.site-footer {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #3F4C5D;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #3F4C5D;
}

.article a:hover {
    text-decoration: none;
}

.article-title a {
    color: #323e4e;
}


/* article related */
.article {
    margin-bottom: 35px;
    padding: 20px 30px;
    /*border: 1px solid #e1e1e1;*/
}

.article .article-head {
    margin: 0;
}

.entry-meta {
    color: #959595;
    margin: 14px 0 0;
    font-family: Raleway, Aral, Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: right;
}

.entry-meta>span {
    margin-right: 15px;
}

.entry-meta span:before {
    margin-right: 5px;
}

.article .article-permalink {
    text-align: right;
}

.article .article-content {
    margin: 30px 0;
    line-height: 1.8em;
}

.article .article-footer {
    margin-top: 20px;
    padding: 20px 0 0;
    border-top: 1px solid #ebebeb;
    text-align: right;
}

.article-content pre {
    padding: 0;
    border: none;
    line-height: 1.6em;
}

.article pre code {
    padding: 15px;
}